*.o
*.d
*.elf
*.hex
*.eep
*.sym
*.bin
*.lss
*.map
*.bak
*.class
Documentation/
node_modules/
LUFA/StudioIntegration/ProjectGenerator/*
LUFA/StudioIntegration/DocBook/*
Demos/
Project/
Bootloaders/
BuildTests/
Maintenance/
Projects/
README.txt
makefile
!LUFA/StudioIntegration/Docbook/mshelp/*
